main {
  padding: 10px;
}

.mdl-card.profile-card {
  width: 100%;
}

.profile-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("https://placekitten.com/g/400/200") center / cover;
}
